body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  padding: 2rem;
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
  border-radius: 5px;
}

ul {
  padding-top: 1.5rem;
  text-align: left;
}

ul li {
  text-decoration: underline;
}

.nxn-form input {
  padding: 1rem;
  font-size: 1rem;
}

.nxn-form input[type="submit"] {
  padding: 1rem;
  font-size: 1rem;
}
